@tailwind base;
@tailwind components;
@tailwind utilities;


.font-sans {
  font-family: var(--font-poppins), sans-serif;
}

.font-serif {
  font-family: var(--font-merriweather), serif;
}

.font-mono {
  font-family: var(--font-geist-mono), monospace;
}



.font-bebasNeue {
  font-family: var(--font-bebasNeue), sans-serif;
}

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.font-quantico {
  font-family: var(--font-quantico), sans-serif;
}

.font-turret {
  font-family: var(--font-turret), monospace;
}

.font-syne {
  font-family: var(--font-syne), monospace;
}

.font-audiowide {
  font-family: var(--font-audiowide), sans-serif;
}
.font-sairaStencil {
  font-family: var(--font-sairaStencil), monospace;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Ajoute un léger mouvement vertical */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}
